.Rproj.user
.Rhistory
.Rapp.history
.RData
src/*.o
src/*.so
src/*.dll
inst/doc
revdep/.cache.rds
src-i386
src-x64

*.DS_Store

*.bk
*.desc

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

# Example code in package build process
*-Ex.R