language: r
cache: packages

warnings_are_errors: true

sudo: false

notifications:
  email:
    on_success: change
    on_failure: always

osx_image: xcode7.3

os:
  - linux
  - osx

r_packages:
  - covr
  
after_success:
  - Rscript -e 'covr::codecov()'


env:
  global:
    - R_BUILD_ARGS="--no-build-vignettes --no-manual --no-resave-data"
    - R_CHECK_ARGS="--no-build-vignettes --no-manual --timings"
    - R_CHECK_TIME="TRUE"
    - R_CHECK_TESTS="TRUE"
    - _R_CHECK_TIMINGS_="0"
